h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}
.app {
  white-space: nowrap;
  height: 100%;
}

.circle {
  display: inline-block;
  padding: .5em;
  margin: 0 1em 1em 0.25em;
  border: 4px solid #d9d9d9;
  background: #f7f7f7;
  height: 6rem;
  width: 6rem;
  border-radius: 6rem;
  cursor: pointer;
  line-height: 4.5em;
  text-align: center;
  color: #333;
}
.circle-bin {
  border: 5px dashed #d9d9d9;
  border-radius: 10px;
  padding: 5rem 2rem;
  text-align: center;
}
